<section id="img-container" class="hidden md:flex flex-col justify-center items-center w-screen p-12 text-white text-shadow-xs text-center img-container">
  <h2 class="text-4xl lg:text-6xl font-bold my-8">Bienvenido a Tableros y Tablones</h2>
  <p class="lg:text-2xl my-6">Tú almacén de madera de confianza, el mayor catálogo de tableros y tablones que podrás encontrar.</p>
  <p class="lg:text-2xl my-6">¡Encuentra lo que necesitas para tu proyecto!</p>
  <p-button label="Ver productos" class="mt-4" routerLink="/products" size="large"></p-button>
</section>

<section id="about" class="w-full">
  <div class="container mx-auto flex flex-col justify-center items-center py-24">
    <h2 class="text-4xl lg:text-6xl font-bold my-12">Sobre nosotros</h2>
    <p class="lg:text-2xl my-6">
      Con 27 años en el mercado, Tableros y Tablones es una empresa dedicada a la venta de tableros y tablones de madera, con un amplio catálogo de productos para satisfacer las necesidades de cualquier proyecto. <br>
      Nuestra misión es proporcionar a nuestros clientes productos de alta calidad y un servicio excepcional, para que puedan llevar a cabo sus proyectos con confianza y satisfacción. <br>
      Contamos con un equipo de expertos en madera, que trabajan incansablemente para brindarle la mejor experiencia posible en cada compra. <br>
      Con la posibilidad de realizar tus pedidos online y recibirlos en la puerta de tu casa o bien recogerlos en nuestra tienda física. ¡Todo por tu comodidad!
    </p>
  </div>
</section>

<section id="sel-projects" class="w-full bg-green-600 text-white">
  <div class="container mx-auto flex flex-col justify-center items-center py-24">
    <h2 class="text-4xl lg:text-6xl font-bold my-12">Productos destacados</h2>
    <!-- carrusel de productos -->
   </div>
</section>

<section id="contact" class="w-full bg-gray-50 text-gray-800">
  <div class="container mx-auto flex flex-col justify-center items-center py-24">
    <h2 class="text-4xl lg:text-6xl font-bold my-12">Contacto</h2>
    <p class="lg:text-2xl my-6">
      Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos. Estamos aqui para ayudarte en lo que necesites.
    </p>
    <p-button label="Contactanos" class="mt-4" routerLink="/contact" size="large"></p-button>
  </div>
</section>

<app-footer></app-footer>
