<nav class="fixed top-0 w-full z-50 bg-gray-50">
  <div class="w-full p-4 flex flex-row justify-between items-center">
    <a routerLink="/" class="text-2xl font-bold text-green-600 hover:text-green-800">
      <i class="pi pi-home" style="font-size: 1.5rem"></i>
      Tableros y Tablones
    </a>
    <div class="hidden md:flex items-center p-6">
      <a routerLink="/products" class="text-xl font-bold text-green-600 hover:text-green-800">Productos</a>
      <a routerLink="/providers" class="text-xl font-bold text-green-600 hover:text-green-800 ml-4">Proveedores</a>
      <a routerLink="/logout" class="text-xl font-bold text-green-600 hover:text-green-800 ml-4">Logout</a>
    </div>

    <div class="md:hidden flex items-center">
      <button id="mobile-menu-button" class="md:hidden text-green-600 hover:text-green-600 focus:outline-none" (click)="toggleMobileMenu()">
          <i class="pi pi-bars" style="font-size: 1.5rem"></i>
      </button>
    </div>
  </div>
  <div id="mobile-menu" class="hidden md:hidden bg-white shadow-lg py-2">
    <a routerLink="/products" class="text-xl font-bold text-green-600 hover:text-green-800 block px-4 py-2">Productos</a>
    <a routerLink="/providers" class="text-xl font-bold text-green-600 hover:text-green-800 block px-4 py-2">Proveedores</a>
    <a routerLink="/logout" class="text-xl font-bold text-green-600 hover:text-green-800 block px-4 py-2">Logout</a>
  </div>
</nav>
