<h1 class="text-4xl font-bold text-green-600 text-center py-6">Pedidos a proveedor</h1>

<div class="container mx-auto p-8 border-b-2 border-green-600">
  <app-orders-filter (filter)="onFilter($event)"></app-orders-filter>
</div>

<div *ngIf="!selectedProduct() && currentFilter()" class="container mx-auto p-8 border-b-2 border-green-600">
  <app-orders-list [currentFilters]="currentFilter()" (orderProduct)="onOrderProduct($event)" ></app-orders-list>
</div>

<div *ngIf="selectedProduct()" class="container mx-auto p-8 border-b-2 border-green-600">
  <app-orders-product [product]="selectedProduct()" (cancel)="onCancelProduct()" (save)="onSaveProduct($event)" ></app-orders-product>
</div>

<div *ngIf="currentOrdersList().length > 0" class="container mx-auto p-8">
  <app-orders-kart [products]="currentOrdersList()" (delete)="onDeleteOrder($event)"></app-orders-kart>
</div>
