<form class="w-full flex flex-col gap-4 p-6 border-2 border-green-600 rounded-lg text-green-800 font-semibold" [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-4">
    <label for="name">
      Nombre:
      <input type="text" pInputText id="name" formControlName="name" placeholder="Ej: Tablero de madera" class="w-full" required />
    </label>

    <label for="description">
      Descripción:
      <input type="text" pInputText id="description" formControlName="description" placeholder="Ej: Tablero de madera de 2x1" class="w-full" required />
    </label>
  </div>

  <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
    <label for="height">
      Altura (cm):
      <p-inputnumber id="height" formControlName="height" class="w-full" required />
    </label>

    <label for="width">
      Ancho (cm):
      <p-inputnumber id="width" formControlName="width" class="w-full" required />
    </label>

    <label for="thickness">
      Grosor (mm):
      <p-inputnumber id="thickness" formControlName="thickness" class="w-full" required />
    </label>

    <label for="type">
      Tipo:
      <input type="text" pInputText id="type" formControlName="type" placeholder="Ej: Madera" class="w-full" required>
    </label>

    <label for="price">
      Precio:
      <p-inputnumber id="price" formControlName="price" currency="EUR" mode="currency" class="w-full" required />
    </label>

    <label for="stock">
      Stock:
      <p-inputnumber id="stock" formControlName="stock" class="w-full" required />
    </label>
  </div>

  <label for="featured">
    Destacado:
    <p-checkbox id="featured" formControlName="featured" binary="true" />
  </label>

  <div class="flex justify-end gap-4">
    <button pButton type="submit"
      class="p-button-success"
      [label]="productForm.get('_id')!.value ? 'Actualizar' : 'Crear'"
      [icon]="productForm.get('_id')!.value ? 'pi pi-pencil' : 'pi pi-plus'"
      [raised]="true"
      [disabled]="productForm.invalid"
    ></button>
    <button pButton type="button" label="Cancelar" class="p-button-danger" [raised]="true" (click)="onCancel()"></button>
  </div>
</form>
