<h2 class="text-2xl font-bold text-green-600 text-center py-6">Productos del proveedor</h2>

<p-table #dt1
  [value]="products()"
  dataKey="_id"
  [paginator]="true"
  [rows]="10"
  [tableStyle]="{ 'min-width': '50rem' }"
  [rowsPerPageOptions]="[10, 20]"
  [rowHover]="true"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} resultados"
>
  <ng-template #header>
    <tr>
      <th pSortableColumn="name" style="width:20%">
        <div class="flex items-center gap-2">
          Nombre
          <p-sortIcon field="name" />
        </div>
      </th>
      <th >Tipo</th>
      <th >Altura (cm)</th>
      <th >Ancho (cm)</th>
      <th >Grosor (mm)</th>
      <th >Precio €</th>
      <th >Stock</th>
      <th class="w-12"></th>
    </tr>
  </ng-template>
  <ng-template #body let-product>
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.type }}</td>
            <td>{{ product.height }}</td>
            <td>{{ product.width }}</td>
            <td>{{ product.thickness }}</td>
            <td>{{ product.price }} €</td>
            <td>{{ product.stock }}</td>
            <td class="w-12">
              <div class="flex flex-row justify-around items-center">
                <button pButton type="button" [icon]="'pi pi-pencil'" class="p-button-success p-button-text" (click)="onOrderProduct(product)"></button>
              </div>
            </td>
        </tr>
    </ng-template>
